.contactlist {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.contactlist_item {
    border: 1px solid black;
    border-radius: 3px;
    flex-basis: calc((100% - 36px) / 4);
    background-color: transparent;
    padding: 12px 6px;
}